Flask>=2.2
flask-smorest
flask-caching
flask-sqlalchemy
flask-migrate
psycopg2-binary
requests
yfinance
pandas
numpy
gunicorn
celery[redis]
redis
sentry-sdk
flask-limiter
alembic
python-dotenv
pytest
prometheus-flask-exporter
python-json-logger
boto3
flask_jwt_extended
scipy
